{% extends "base.html" %}

{% block title %}Återställ lösenord - FornPunkt{% endblock %}

{% block content %}

<div class="container pb-5">
    <h1>Återställ ditt lösenord?</h1>
    <p>Har du glömt ditt lösenord? Skriv in din epost nedan så skickar vi mera information om hur du går till väga.</p>

    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-warning mt-3">
            <strong>Whoops!</strong> - Återställningen misslyckades.
            <ul>
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ error|escape }}</li>
              {% endfor %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="mb-3">
            <label class="form-label" for="id_email">E-postadress:</label>
            <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
        </div>

        <input class="btn btn-primary" type="submit" value="Återställ mitt lösenord">
    </form>
</div>

{% endblock %}