{% extends "base.html" %}

{% block title %}Ändra lösenord - FornPunkt{% endblock %}

{% block content %}
<div class="container pb-5">
    <div class="alert alert-info mt-3">Vänligen ange ditt gamla lösenord, för säkerhets skull, och ange därefter ditt nya lösenord två gånger så att vi kan kontrollera att du skrivit rätt.</div>
    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-warning mt-3">
            <strong>Whoops!</strong> - Ändringen misslyckades.
            <ul>
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ error|escape }}</li>
              {% endfor %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="mb-3">
            <label class="form-label" for="id_old_password">Gammalt lösenord:</label>
            <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
        </div>

        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Tips</h4>
            <ul>
                <li>Ditt lösenord kan inte vara alltför likt din övriga personliga information.</li>
                <li>Ditt lösenord måste innehålla minst 8 tecken.</li>
                <li>Ditt lösenord kan inte vara ett allmänt använt lösenord.</li>
                <li>Ditt lösenord kan inte bara vara numeriskt.</li>
            </ul>
        </div>

        <div class="mb-3">
            <label class="form-label" for="id_new_password1">Nytt lösenord:</label>
            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
        </div>

        <div class="mb-3">
            <label class="form-label" for="id_new_password2">Bekräfta nytt lösenord:</label>
            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
        </div>
        <input class="btn btn-primary" type="submit" value="Ändra mitt lösenord" class="default">
    </form>
</div>
{% endblock %}
