{% extends "base.html" %}
{% load i18n static %}

{% block title %}Nytt lösenord - FornPunkt{% endblock %}

{% block content %}
<div class="container">
    {% if validlink %}
    <h1>Nytt lösenord</h1>
    <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Tips</h4>
        <ul>
            <li>Ditt lösenord kan inte vara alltför likt din övriga personliga information.</li>
            <li>Ditt lösenord måste innehålla minst 8 tecken.</li>
            <li>Ditt lösenord kan inte vara ett allmänt använt lösenord.</li>
            <li>Ditt lösenord kan inte bara vara numeriskt.</li>
        </ul>
    </div>

    <form method="post">
        {% csrf_token %}
        <input class="visually-hidden" autocomplete="username" value="{{ form.user.get_username }}">
        <div class="mb-3">
            {{ form.new_password1.errors }}
            <label class="form-label" for="id_new_password1">{% translate 'New password:' %}</label>
            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
        </div>
        <div class="mb-3">
            {{ form.new_password2.errors }}
            <label class="form-label" for="id_new_password2">{% translate 'Confirm password:' %}</label>
            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
        </div>
        <input class="btn btn-primary" type="submit" value="{% translate 'Change my password' %}">
    </fieldset>
    </form>

    {% else %}

    <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}
</div>
{% endblock %}