{% extends "base.html" %}

{% block title %}Hem - FornPunkt{% endblock %}

{% block content %}

<div class="container-fluid pb-5">
    <div class="row">
      {% include "core/_partials/sidebar.html" %}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                <span>{{ message }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-6">
                    <h2>Dina lämningar</h2>
                    {% if recent_lamnings %}
                        <ul class="list-group">
                        {% for lamning in recent_lamnings %}
                            <li class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ lamning.title }}</h5>
                                    <small>{{ lamning.created_time|date:"D d M Y" }}</small>
                                </div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a href="{% url 'lamning' lamning.id %}" class="btn btn-primary btn-sm">Visa</a>
                                    <a href="{% url 'update_lamning' lamning.id %}" class="btn btn-primary btn-sm">Redigera</a>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                        <span class="pagination justify-content-center mt-3 mb-3">
                            <span class="page-item">
                                <a href="{% url 'list_lamning' %}" class="page-link">Visa alla</a>
                            </span>
                        </span>
                    {% else %}
                        <p class="alert alert-info" role="alert">Vi fann ej några lämningar.</p>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <h2>Senaste kommentarerna</h2>
                    {% if comments %}
                        <div class="list-group">
                        {% for comment in comments %}
                            <a href="{% url 'lamning' comment.lamning.id %}" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ comment.lamning.title }}</h5>
                                    <small>{{ comment.created_time|date:"D d M Y" }}</small>
                                </div>
                                <p class="mb-1">{{ comment.content }}</p>
                                <small>Av {{ comment.user }}</small>
                            </a>
                        {% endfor %}
                        </div>
                    {% else %}
                        <p class="alert alert-info" role="alert">Vi fann ej några kommentarer.</p>
                    {% endif %}
                </div>
            </div>
            <div class="container">
                <div class="row border rounded p-5 px-3 mt-2">
                    <div aria-hidden="true" class="d-none col-md-2 d-md-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#f00" style="max-height: 100px;"><path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"></path></svg>
                    </div>
                    <div class="col-md-10 my-auto">
                        <h2 class="text-5xl font-bold">FornPunkt på YouTube</h2>
                        <p class="py-6">Hur gör jag min första registrering? Hur fungerar bilduppladdning? Hur använder jag WMS-bakgrunder i kartan? Ta hjälp av FornPunkts introduktionsvideor för att komma igång och lära dig mer!</p>
                        <a class="btn btn-primary" href="https://www.youtube.com/channel/UC8xwAilU1c9MA_Jcr_y6W5g/videos">Upptäck spellistan</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
  </div>

{% endblock %}

{% block css %}
<script>
  window.localStorage.removeItem('map_register_state_zoom');
  window.localStorage.removeItem('map_register_state_center');
  window.localStorage.removeItem('last_used_tags');
  window.localStorage.removeItem('map_register_state_layers');
</script>

{% endblock %}
