{% extends "base.html" %}
{% load static %}

{% block title %}Redigera lämning - FornPunkt{% endblock %}

{% block content %}
<div class="container pb-5">
    <form method="post" action="{% url 'update_lamning' lamning.id %}">
        {% csrf_token %}
        <h1>Ändra Lämning</h1>
        {% if form.errors %}
        <div class="alert alert-info" role="alert">
            <ul class="m-0">
                {% for error in form.errors %}
                    {% if error == 'description' %}
                        <li>Fältet "beskrivning" är obligatoriskt.</li>
                    {% elif error == 'geojson' %}
                        <li>Lämningen måste ha en angiven geometri.</li>
                    {% elif error == 'title' %}
                        <li>Fältet "titel" är obligatoriskt.</li>
                    {% else %}
                        <li>Ett okänt fel inträffade! Testa igen om en stund.</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="title" class="form-label">Titel:</label>
            <input type="text" value="{{ lamning.title }}" maxlength="150" class="form-control" name="title" required />
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Beskrivning:</label>
            <textarea aria-describedby="descriptionHelpBlock" class="form-control" name="description" rows="7" required>{{ lamning.description }}</textarea>
            <div id="descriptionHelpBlock" class="form-text">
                Tips: Du kan skapa länkar till andra lämningar genom att använda <abbr title="Riksantikvarieämbetet">RAÄ</abbr>s lämningsnummer eller FornPunkts lämningsidentifierare i din beskrivning. Exempel: <code>L1984:6664</code>, <code>FP-Ypn7ona</code>
            </div>
        </div>

        <div class="mb-3">
            <label for="tags" class="form-label">Taggar:</label>
            <input aria-describedby="tagsHelpBlock" type="text" value="{{ tags_edit_string }}" maxlength="150" class="form-control" name="tags" />
            <div id="tagsHelpBlock" class="form-text">
                Lista med kommaseparerade taggar. Taggar får gärna användas för att indikera typ och källor. Exempel: <code>soldattorp, häradskartan</code>.
            </div>
        </div>

        <div class="mb-3">
            <label for="observation_type" class="form-label">Observationstyp:</label>
            <select  class="form-select" name="observation_type">
                <option {% if not lamning.observation_type %}selected{% endif %} value>---</option>
                <option {% if 'FO' == lamning.observation_type %}selected{% endif %} value="FO">Fältobservation</option>
                <option {% if 'RO' == lamning.observation_type %}selected{% endif %} value="RO">Fjärrobservation</option>
                {# only show the machine observation alternative if the user is either an admin or the type is already machine observation #}
                {% if user.is_staff or 'MO' == lamning.observation_type %}
                <option {% if 'MO' == lamning.observation_type %}selected{% endif %} value="MO">Maskinobservation</option>
                {% endif %}
            </select>
        </div>


        {% include "core/_partials/map-edit-tools.html" %}

        <textarea hidden="true" name="geojson">{{ lamning.geojson }}</textarea>
        <div id="map"></div>

        {% include "core/_partials/copyright-notice.html" %}
        <div class="float-end">
            <a class="btn btn-danger" href="{% url 'delete_lamning' lamning.id %}">Radera lämning</a>
            <button type="submit" class="btn btn-primary">Spara</button>
        </div>
    </form>
</div>
{% include "core/_partials/lamning-popup.html" %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'ol-v7.2.2.css' %}">
<style>
#map {
    height: 400px;
    margin-bottom: 15px;
}
</style>
{% endblock %}

{% block scripts %}
<script src="{% static 'ol-v7.2.2.js' %}"></script>
<script src="{% static 'map-popup.js' %}"></script>
<script src="{% static 'openlayers-shared.js' %}"></script>
<script src="{% static 'coordinate-parser.js' %}"></script>
<script src="{% static 'ol-editing.js' %}"></script>
{% endblock %}
